*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./14042784.jpg);
    background-size:cover;
    background-position: top;
    font-family:'Times New Roman', Times, serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgba(102, 151, 191, 0.5);
}

.rightNav ul{
    display: flex; 
    gap: 50px;
    font-size: larger;
    font-weight: bold;
}
.rightNav ul li {
   list-style-type: none;

}
.rightNav ul li a{
    text-decoration: none;
    color: rgb(75, 69, 87);

 }
 .leftNav{
    align-items: center;
    gap: 10px;
    font-size: larger;
    font-weight: bold;
    
 }
 .leftNav a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: larger;
    font-weight: bold;
    
 }

.leftNav img{
    width: 40px;
    
}

.leftNav a{
    text-decoration: none;
    color: rgb(75, 69, 87);
}

.background {
    background-color: rgba(87, 144, 192, 0.7);
    width:500px;
    min-height:600px;
    position: relative;
    margin:50px auto;
    border-radius: 5%;
    filter: drop-shadow(0 0 90px rgb(163, 56, 196));
    border: 1px solid rgb(155, 83, 160);
    padding: 30px ;
    display: flex;
  
}

.background hr{
    position: absolute;
    width: 441px;
    top: 64px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: -35px;
    margin: auto;
}
#input-box{
    flex: 1;
    border:none;
    outline: none;
    border-radius: 40px;
    background: rgb(184, 182, 182);
    padding: 16px;
    font-weight: 15px;
    
    
}
button{
    border:none;
    outline: none;
    border-radius: 40px;
    padding: 16px 50px ;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: -35px;
    
    
}
.input{
    position: absolute;
    top: 100px;
     left: 110px;
    
    z-index: 100;
}
.Todos{
    position: absolute;
    width: 420px;
    padding: 0;
    margin: 0;
    top: 100px;
}

.Todos  li{
    position: relative;
    top: 100px;
    list-style-type: none;
    border:2px solid rgb(233, 205, 205);
    border-radius: 50px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    margin: 5px;
    color: white;
    font-size: large;
    cursor: pointer;
    width: 100%;
    
}

.Todos  li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./checkbox-blank-circle-line.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 12px;
}

.Todos  li.checked::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./checkbox-circle-line.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 12px;
}

.Todos  li.checked{
    color: #d0c6c6;
    text-decoration: line-through;
    
}

.Todos li span{
    position: absolute;
    right: 5px;
    top: 3px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
}

.Todos li span:hover{
    background: #5d6678;
}